body{
    margin: 0px;
    padding: 0px;
}

.container{
    margin-top: auto;
    text-align: center;
}
.btn{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
}
#grey{
    background-color: grey;
}
#yellow{
    background-color: yellow;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}