*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(165, 165, 165);
    height: 400px;
    width: 700px;

    margin: auto;
    margin-top: 10%;
    padding: 20px;

    display: flex;
    flex-direction: column; 
    justify-content: center;
     align-items: center;
}



p{
    margin: 10px;
}
.txtbox{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

button{
    padding:5px;
    border-radius: 4px;
    margin-left: 20px;
}

.weight-guide{
    margin-top: 20px;
}